<app-navbar [navLeft]="[navLeft]" [navRight]="[navRight]"></app-navbar>
<div *ngIf="loading" class="text-center mt-5 text-secondary">
  <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
  <h4 class="mt-3">Loading</h4>
</div>
<div class="row" *ngIf="!loading" class="content">
  <div class="col-xs-12 col-md-11 col-xl-10 mx-auto">
    <!-- Pagination -->
    <ul class="pagination pagination-lg justify-content-center d-flex flex-wrap">
      <li class="page-item" *ngFor="let letter of letters">
        <a class="page-link" href="consumerlist#anchor-{{ letter }}">{{letter}}</a>
      </li>
    </ul>
    <!-- Consumer section -->
    <div class="mb-4" *ngFor="let letter of letters" id="anchor-{{ letter }}">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div
              class="col-xl-3 col-md-4 text-center"
              *ngFor="let consumer of consumers | firstLetterEqual: letter">
              <button
                type="button" class="btn btn-lg mb-2 flex w-100 consumerbutton"
                [routerLink]="['/shop', consumer.id]">
                {{consumer.name}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
